.hw-nav-link{
    text-decoration: none;
    padding:2px 12px 2px 12px;
    border-radius:45%;
    color:rgba(255, 255, 255, 0.8);

}

.hw-navbar{
    max-width: 100%;
    min-width: 100%;
    margin:0;
    padding:0px 0px 0px 0px;
    background-color: rgba(22, 22, 23, 0.8);
}

.hw-navbar-wrapper{
    max-width: 100%;
    position: absolute;
    min-width: 100%;
}

.hw-navicon{
    color:rgba(255, 255, 255, 0.8);
    font-size:20px;
    padding:5px;
}