.hw-nav-link{
    text-decoration: none;
    padding:2px 12px 2px 12px;
    border-radius:45%;
    color:black;

}

.hw-navbar{
    max-width: 100%;
    min-width: 100%;
    margin:0;
    border:1px solid transparent;
    background-color: rgba(213, 217, 229, 0.5);
}

.hw-navbar-wrapper{
    max-width: 100%;
    position: absolute;
    min-width: 100%;
}